nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    
}

nav ul li {
    margin: 5%;
}
