/* Basic Setup */

* {
  margin: 0;
  padding: 0;5vh
}

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #2f3542;
}

/* Button */

.contact__form button {
  color: #fafafa;
  font-size: 1.1rem;
  background-color: #16547b;
  height: 35px;
  width: 300px;
  display: inline-block;
  padding: 7px auto;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  border: 0;
}

/* Nav Bar */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #16547b;
  margin: 0;
  padding: 0;

  height: 50px;

  width: 100%;

  position: fixed;
  z-index: 1;

}

nav ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  width: 100%;
}

nav ul li {
  margin: 3%;
  font-size: 1.3rem;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fafafa;
  border-bottom: solid 1px #16547b;
  transition: border-bottom 0.5s;
}

nav ul li a:hover,
nav ul li a:active {
  border-bottom: solid 1px #fafafa;
}

/* About Section */

.about {
  background-image: linear-gradient(rgba(20, 44, 56, 0.8), rgba(20, 44, 56, 0.8)),
    url("img/hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.about__text {
  margin-top: 25px;
  color: #fafafa;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  /* header writing background */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 15px;
  border-radius: 5px;
}

.about__text h1 {
  font-size: 2rem;
}

.about__text h1:after {
  display: block;
  height: 2px;
  background-color: #16547b;
  content: " ";
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
}

.about__text p {
  padding-top: 25px;
  text-align: justify;
}

.about__text--upper {
  text-transform: uppercase;
}

/* Team Section */

.team {
  text-align: center;
  padding-top: 5vh;
  min-height: 100vh;
}

.team h1 {
  color: #fafafa;
  font-size: 2rem;
}

.team__container {
display:flex; 
flex-direction: column;
justify-content: space-around;
align-items: center; /*content aligned vertically*/
}

.team__row {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}
.team__content{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-around;
  background-color: white; 
  margin: 3%; 
  height: 75vh;
  width: 100%;
}

.team__content img {
  border: 2px solid black;
  border-radius: 50%; 
  width: 60%;
}

.team__text h2 {
  margin-bottom: 3vh;
}
.team__links {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.team__links img {
  border: none;
  width: 10vw;
}

/* Contact Section */
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-color: #fafafa;
  padding: 5vh 0;
  height: 100vh;
}

.contact h2 {
  font-size: 2rem;
}

.contact__msg {
  margin: 20px auto;
  text-align: center;
}

.contact__heading {
  margin-bottom: 10px;
  max-height: 40px;
  text-align: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}

input[type=text], input[type=email], .contact__button {
  height: 25px;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 3px;
  margin: 0;
  border-radius: 3px;
  border: solid 1px #2f3542;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 1.3rem;
  padding: 5px;
}

.label {
  flex: 0;
  min-width: 100px;
  color: #2f3542;
}

.contact__input {
  flex: 2;
}

textarea {
  height: 150px;
  resize: none;
}

.form-row button {
  align-self: flex-start;
  width: 100px;
}

/* Media Queries */

@media screen and (min-width: 650px) {
  
  /* Nav */
  nav ul {
    justify-content: flex-end;
    flex-direction: row;
  }

  nav ul li {
    margin: 2%;
    font-size: 1.2rem;
  }

  /* header */

  .about__text {
    width: 70%;
  }
  
  /* Team */

  .team {
    background-color: #134a6d;
    padding-top: 10vh;
  }
  
  .team__row {
    flex-direction: row;
    
  }
  .label {
    min-width: 120px;
  }

  .team__content {
    border-radius: 5px;
  }

  .team__links img {
    width: 5vh;
  }
  
  /* Contact */

  .contact {
    padding-top: 10vh;
  }

  .contact__form {
    max-width: 650px;
    padding: 0;
  }
}

@media screen and (min-width:840px){
  .about__text {
    width: 50%;
  }
}

@media screen and (min-width:1200px){
 
  .team__container {
    flex-direction: row;
  }

}




/* End */
